body, html {
    height: 100%;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#viewport {
    width: 800px;
    height: 500px;
    position: relative;
    overflow-x: auto;
    background-image: url("../images/water0.png");
}
#ports {
    width: 0px;
    margin-top: 146px;
    display: flex;
    justify-content: space-around;
}
#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url("../images/port.png");
}
#ship {
    width: 128px;
    height: 64px;
    background-image: url("../images/ship.png");
    position: absolute;
}
.container {display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
#sailbutton {
    position: sticky;
    background-color: navy;
    transition: all .5s ease-in-out;
    font-family: 'Seaweed Script', cursive;
    font-size: 18px;
    color: whitesmoke;
    padding: 0.5em;
    border: 1px solid whitesmoke;
    border-radius: 3px;
}
#sailbutton:active {
    top: 5px;
}
#message {
    padding: 16px;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: white;
    text-align: center;
    /* background-image: url("../images/pigs.png"); */
}
